<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="style.css">
	<title>perform</title>
</head>
<body>
	<main id="app">
		<nav>
			<span class="button" @click="openViewer()">open viewer</span>
		</nav>

		<div class="layout">
			<iframe src="view" frameborder="0" ref="iframe"></iframe>
			
			<div class="groups">
				<div class="group" :class="{ inactive: group.params[0].current === 0 }" v-for="group in groups">
					<header>
						<h1>{{ group.name }}</h1>

						<span class="col-title"><span>curr</span></span>
						<span class="col-title"><span>next</span></span>
						<span class="col-title"><span>time</span></span>
					</header>

					<div class="param" v-for="param in group.params" @click="editParam(param)" :class="{ changing: param.isChanging, edited: !!param.editedField }">
						<h2>{{ param.name }}</h2>

						<span class="value current">{{ formatParamValue(param, 'current') }}</span>
						<span class="value target" :class="{ edited: param.editedField === 'target' }" v-html="formatParamValue(param, 'target')"></span>
						<span class="value time" :class="{ edited: param.editedField === 'time' }" v-html="formatParamValue(param, 'time')"></span>
					</div>
				</div>
			</div>
		</div>
	</main>

	<script src="assets/vue.global.js"></script>
	<script src="perform.js"></script>
</body>
</html>