* {
	margin: 0;
	padding: 0;
	background: black;

	font-family: monospace;
	color: white;
	text-decoration: none;
}

ul {
	margin: 0.5em 0;
	list-style: none;
}

ul:before {
	content: '---';
	display: block;
	padding-bottom: 0.5em;
}

li:not(.unsure):not(.yeah) {
	margin-left: 1ch;
}

li.unsure:before {
	content: '(';
}

li.unsure:after {
	content: ')';
}

li.yeah:before {
	content: '*';
}

main {
	padding: 1rem;
}

canvas {
	width: 100dvw;
	height: 100dvh;
}